<div class="container">
  <h1>My Tasks</h1>

  <% @tasks.each do |task| %>
    <p><%=link_to task.title, task_path(task)%>
    <%= link_to "delete",
            task_path(task),
            method: :delete,
            data: { confirm: "Delete #{task.title}?" } %></p>
  <% end %>
  <%= link_to "+Add a new task", new_task_path %>


</div>
