<div class="container my-5 fs-4">
  <%= link_to edit_task_path, class: 'pull-right btn btn-default fs-5' do %>
    <i class="fa fa-pencil" aria-hidden="true"></i> Edit this task
  <% end %>

  <h1><%= @task.title %></h1>
  <%#  fs- 3 style font size%>
  <p class="well px-4 fs-3 my-5"><%= @task.details %></p>


  <% if @task.completed %>
    <i class="fa fa-check-square-o" aria-hidden="true"></i> This task is completed
  <% else %>
    <i class="fa fa-square-o" ></i> This task is not completed yet
  <% end %>

  <hr>
  <%= link_to tasks_path, class:"text-decoration-none fs-5" do %>
    <i class="fa fa-undo" ></i>Back to list
  <% end %>

</div>
